[2020-10-20 15:55] LiamBindle opened #1 "GCPy updates for ND51-style diagnostics with 1D output in HISTORY"
- longitudes need to be in [0, 360)
- there should be an optional argument for specifiying the date (e.g. `python -m gcpy.1D_raveller --date '2019-07-01')

[2020-10-20 15:59] LiamBindle opened #2 "recycle_track attribute in HISTORY isn't working for me"
When I try to use the `recycle_track` attribute in a HISTORY collection, it doesn't seem to work like I expect it to.

I've tried `TestCollection.recycle_track: 1` and `TestCollection.recycle_track: .true.` with track files with date in 1900 as well as the simulation start date. Neither have worked yet.

The logic for recycle_track is pretty minimal, so I don't think it would take too long to trac

[2020-10-20 16:02] LiamBindle opened #3 "How close to HISTORY.rc line limit are we?"
@lizziel In the GCST call a week or two ago you mentioned that we're close to the line limit for GCHP. How close are we? If I add some custom collections with a 100-200 lines would that put me over?

[2020-10-20 16:23] #3 closed, assigned to nobody

[2020-10-23 12:33] LiamBindle opened #4 "minimum CMake version"
I noticed the HEMCO CMakeLists declare `cmake_minimum_required(VERSION 3.5)`. Later the root CMakeLists.txt uses the `OpenMP::OpenMP_Fortran` target (imported by `find_package(OpenMP REQUIRED)`. `OpenMP::OpenMP_Fortran` is only available in CMake >= 3.9. We should either
- Use `OpenMP_<lang>_FLAGS` and `OpenMP_<lang>_LIBRARIES` instead of `OpenMP::OpenMP_Fortran`
- Change the minimum required vers

[2020-10-26 16:38] lizziel opened #5 "GCHP seg faults if compiled with ifort and OMP=OFF"
GCHP seg faults during run-time after the merge of https://github.com/geoschem/GCHPctm/pull/50 if using an Intel compiler. This update went in during development of GCHP 13.0.0-alpha.13. I have not run into any issues with disabling OMP when using GNU compilers.

The problem appears to be an issue in MAPL when using Intel compilers with OMP turned off. The traceback can be found by enabling debug

[2020-10-26 18:28] LiamBindle opened #6 "GCHP, GC-Classic, and geos-chem should support separately and configurable compiler options"
Method similar to https://github.com/geoschem/HEMCO/pull/58 should be added to all GEOS-Chem projects.

[2020-11-02 19:00] LiamBindle opened #7 "Add page to shared documentation for GEOS-Chem versioning"
I'll try to get to this this week. This should cover:
- X, Y, Z release
- Pre-release versioning scheme

I'll put this in the shared documentation so that GCHP, GEOS-Chem Classic, HEMCO, and GCPy can include it in their RTD.

[2020-11-03 14:16] LiamBindle opened #8 "GCHP build failing for mvapich2 and mpich"
All MVAPICH2 and MPICH builds are failing for alpha.11. It looks like it's because something in ESMF is linking pthreads, and our OpenMP link before was somehow fulfilling it. This should be fixable by linking OpenMP or pthreads to the `gchp` target at the very end.

[2020-11-03 20:27] LiamBindle opened #9 "What's the minimum resolution we can run GCHP at?"
I'm looking into this right now. I'll post the results here.

[2020-11-05 16:24] LiamBindle opened #10 "geos-chem-cloud documentation update"
Not exactly sure what all needs to be updated. For example, this page https://cloud-gc.readthedocs.io/en/latest/chapter03_advanced-tutorial/container.html, should be updated to use the "official" geos-chem images which are built by our Azure pipelines. There are probably other updates that need to be made.

[2020-11-05 16:24] #9 closed, assigned to nobody

[2020-11-05 18:02] #4 closed, assigned to nobody

[2020-11-05 20:28] LiamBindle opened #11 "OpenMP is always enabled for MAPL/base"
OpenMP is still enabled in MAPL even if `OMP=OFF`. It's only MAPL_base though (not other MAPL-related libs though). This does not propagate outside of MAPL_base either. This is turned on here: https://github.com/geoschem/MAPL/blob/462f23ec9b7a74524dc593e3ecf976895852de0b/base/CMakeLists.txt#L58

It seems like we should probably leave this alone, particulary since compiler options are now isolated,

[2020-11-05 20:28] #11 closed, assigned to nobody

[2020-11-06 00:15] #8 closed, assigned to LiamBindle

[2020-11-06 17:57] LiamBindle opened #12 "XXXXBuildProperties.txt are no longer needed"
The new way to set compiler options in HEMCO, GCClassic, and GCHPctm mean the XXXBuildPropeties files are no longer needed. Therefore, they should be removed.

[2020-11-13 21:26] LiamBindle opened #13 "input.nml stretched-grid parameters aren't updated by runConfig.sh"
It looks like runConfig.sh isn't updating the stretched-grid parameters in input.nml. This will cause wonky advection for stretched-grid simulations right now.

I can fix this next week.

[2020-11-18 15:44] LiamBindle opened #14 "Default GCHP run crashes"
At the latest commit to GCHP (geoschem/GCHPctm@c9e7f3e), the out-of-the-box simulation crashes (standard sim, merra2). The error is some of the emision history fields

[code]
Log file: [gchp.log](https://github.com/geoschem/GCST-internal/files/5561102/gchp.log)

[2020-11-19 14:31] LiamBindle opened #15 "geoschemdata.computecanada.ca is down"
Killian reported that [geoschemdata.computecanada.ca](http://geoschemdata.computecanada.ca) is down.

I will look into this an post updates here.

[2020-11-19 14:35] LiamBindle commented on #1
@WilliamDowns Did we talk about this? I can't remember if you or I have already added this--do you know?

[2020-11-19 14:36] LiamBindle commented on #6
This is done

[2020-11-19 14:36] #6 closed

[2020-11-19 14:37] LiamBindle opened #16 "MERRA2 processing is crashing"
The MERRA2 metfields processing on Compute1 isn't operational yet.

[2020-11-19 14:52] LiamBindle opened #17 "Upstream MERRA2 data for September is missing"

[2020-11-19 14:58] LiamBindle commented on #15
I have followed up with our contacts at ComputeCanada

[2020-11-19 15:04] WilliamDowns commented on #1
I don't remember discussing it. To clarify, is this only about adding the two bullet points in your original comment?

[2020-11-19 15:08] msulprizio commented on #17
Christoph Keller reported this during the GCSC telecon on 19 Nov 2020. He reported they found an issue and needed to do a rewind on MERRA-2 starting on 01 Sep 2020. He recommends downloading those fields again when they become available.

[2020-11-19 15:10] LiamBindle commented on #1
I couldn't remember either. I'm hoping to have time to look at the 1D output in the next coupe days, and this issue just reminded me.

Yeah, they're both trivial updates. The initial raveller script I wrote had longitudes in [-180, 180) and the start date was fixed. I found these updates where necessary last time I tried the 1D output. I can add them!

[2020-11-19 15:21] WilliamDowns commented on #1
Thanks!

[2020-11-19 15:37] LiamBindle commented on #17
@msulprizio Thanks, I missed that! I'll leave this open until that data is available.

[2020-11-19 16:03] kilicomu commented on #15
Hey @LiamBindle! I'm sure you've got the right URL behind the scenes - it's `https://geoschemdata.computecanada.ca/` as opposed to `.com`

[2020-11-19 16:04] LiamBindle commented on #15
Whoops! Haha thanks for catching that @kilicomu. That was a typo

[2020-11-19 21:10] LiamBindle commented on #15
Our contact at ComputeCanada said he recently rebooted the VM. He said it's up and running but slow to respond because there are a number of IPs continuously donwloading data. He said the unresponsiveness is consistent with their expected usage.

@kilicomu Are you able to try it now?

I'm still having trouble getting to it right now, but @Jun-Meng says he's able to see it right now.

Does anyone k

[2020-11-19 22:32] kilicomu commented on #15
@LiamBindle I'm intermittently getting HTTP request timeouts and long (several minute) response times.

I've never noticed this unresponsiveness in the past, and I semi-regularly download varying quantities of data through that URL. There are times when transfer bandwidth fluctuates, sure, but I can't remember not being able to get a response.

Either way, I'm not sure that their "expected usage"

[2020-11-20 14:32] LiamBindle commented on #14
@yantosca Did you fix this in the iTests branches? If so, could I cherry-pick those commits? Or should I wait until we merge iTests?

[2020-11-20 14:33] yantosca commented on #14
@LiamBindle This is fixed in the iTests branch.  I am hoping to merge this in today.  Want to see if my GCHP int test finishes this morning.

[2020-11-20 14:40] LiamBindle commented on #14
Great!

[2020-11-20 15:11] LiamBindle opened #18 "GCHP doumentation should include restart instructions"
Just a reminder for myself.

[2020-11-20 15:20] LiamBindle opened #19 "Clarifying the stretched-grid parameter format requirements"
Right now `runConfig.sh` says:
- Minimum SF=1.0001 (this is correct)
- Target lat/lon must be floats (i.e. they must have a ".") --- I'm not positive if this is a hard requirement
- Target longitude must be in [0, 360) --- I'm not positive if this is a hard requirement either

Today I'll try to clarify these.

[2020-11-20 15:44] LiamBindle commented on #15
@kilicomu I agree it isn't a reasonable level of expectation.

For me the server appears to be a lot more responsive this morning. Are you still experiencing issues?

If you are, then I'll push a bit harder and ask if they can investigate further. If you aren't, then I'd suggest we keep an eye on it, and raise it if we see it again. Sorry, I know it's a bit unsatisfying---I don't have much control

[2020-11-20 16:12] msulprizio commented on #19
Do you also plan to provide example settings? For example, it might be nice to provide users with the settings to reproduce (as close as possible) the existing nested grid regions.

[2020-11-20 16:40] kilicomu commented on #15
It feels a little better today in that requests don't seem to be timing out and are completing in < 60s. I'm not exactly robustly stress-testing the server, though (I figure that might be putting gas on the fire).

I agree with keeping an eye on it. I can't recall it happening before, so hopefully it's just a transient blip.

[2020-11-20 17:11] LiamBindle commented on #19
I'm not exactly sure---I'd appreciate your thoughts on this. The thing that makes me hesitate is I'm trying to avoid anything that tends people towards thinking of stretched-grids as "nested grids for GCHP". I might be being pedantic, and perhaps it's inevitable people see them as that, but I'm trying to cast them as a new capability and their own thing. The reason is because there isn't a one-siz

[2020-11-20 17:16] msulprizio commented on #19
The tutorial may be good enough. Your reasoning makes sense. Also, the current nested grids are likely larger than most people need (e.g. the NA domain includes most of Canada, US, and Mexico when people may just be interested in a subset of that region). There's also differences between the nested grid region definitions for 0.25x0.3125 versus 0.5x0.625, and that was only done to save on computat

[2020-11-23 21:57] LiamBindle commented on #15
Glad it's at least responding now. Yeah, let's keep an eye on it.

[2020-11-23 21:57] #15 closed

[2020-11-23 22:38] LiamBindle opened #20 "Monthly/annual data input files for GCHPctm fixed---do we still need OFFLINE_LIGHTNING/v2020-11?"
geoschem/GCHPctm#62 should fix data input for fields with frequency <= 1 month. Recently, GCHPctm switched to OFFLINE_LIGHTNING/v2020-11 as a patch for this issue; but, now that there is a proper solution (geoschem/GCHPctm#62) do we still need this new dataset?

@msulprizio @yantosca @WilliamDowns What do you think?

[2020-11-24 15:59] msulprizio commented on #20
We probably don't need the files in OFFLINE_LIGHTNING/v2020-11 anymore. It may be best to remove to avoid confusion. We should make sure we keep the script Lizzie used to create those files in case we need to do something similar in the future. We may eventually want to use daily files, but according to https://github.com/geoschem/geos-chem/issues/160 we should wait until we implement the capabili

[2020-11-30 16:29] LiamBindle commented on #13
fixed in https://github.com/geoschem/geos-chem/pull/532

[2020-11-30 16:29] #13 closed

[2020-11-30 16:30] #14 closed

[2020-11-30 16:46] #19 closed, assigned to nobody

[2020-11-30 21:30] LiamBindle opened #21 "Running GEOS-Chem with native C180 MERRA2 data"
Hi everyone, this is a discussion/documentation thread related to running GCHP (and more broadly GEOS-Chem) with native MERRA2 metfields. Currently, I'm working on getting GCHP running with native MERRA2 metfields as a part of AIST:
1. so we can run GEOS-Chem with native metfields, and so at some point in the future we could eliminate the metfields preprocessing step
2. so we can evaluate the cube

[2020-12-07 23:24] sdeastham commented on #21
Great analysis! My two cents:

1. The use of albedo as a proxy for ice cover is an old kludge, and one we should kill. You may have notice that it gets worse, because it's actually used inconsistently; in some HEMCO extensions we use one threshold (0.4), which is really way too low - that sometimes identifies large chunks of the Sahara as being "ice"! Elsewhere we're using 0.695, which is better b

[2020-12-09 14:41] yantosca commented on #21
Thanks @sdeastham and @LiamBindle for looking into this.  My thoughts:

1. I agree, the use of albedo for ice cover is a kludge.  It probably was used to implement a "tie-breaker" because some of the earlier met fields (GEOS-3, GEOS-4) had different land/water/ice flags.  But we know that MERRA-2 and GEOS-FP now use the same convention for land/water/ice, so we should get rid of the ALBEDO depende

[2020-12-10 16:29] LiamBindle commented on #21
Thanks @yantosca and @sdeastham for your thoughts! Since you both agree the PARDR, PARDF update is desireable, and that we can stop using ALBEDO as a proxy for surface type, I'll go ahead and mark both questions as resolved.

Thanks again for your input!

[2020-12-21 22:50] #20 closed, assigned to nobody

[2020-12-21 22:51] LiamBindle commented on #16
This is fixed now

[2020-12-21 22:51] #16 closed

[2020-12-21 22:52] #2 closed

[2020-12-21 22:52] #1 closed

[2020-12-23 17:02] LiamBindle opened #22 "Some GCHP build things"
I noticed these building GCHP on Pleiades (using cmake version 3.13):
- CMP0079 should be set to NEW
- F2PY is search for and displays warning that might concern some users
- Bunch of warnings to do with setting EXCLUDE_FROM_ALL on target with install rule
[code]

[2020-12-23 18:39] LiamBindle commented on #22
The install warnings can be fixed by adding "NOINSTALL" to add the associated `esma_add_library()` calls.

[2020-12-23 23:05] LiamBindle commented on #22
Fixed in https://github.com/geoschem/GCHP/commit/721115523bbdab85bf19abe93458eb84a1b4a35d

[2020-12-23 23:05] #22 closed, assigned to nobody

[2021-01-04 17:34] LiamBindle commented on #10
I'm going to close this because we have https://gchp.readthedocs.io/en/latest/supplement/containers.html now.

[2021-01-04 17:34] #10 closed

[2021-01-07 22:31] LiamBindle commented on #17
The MERRA2 fields for September are now available on ComputeCanada

[2021-01-07 22:31] #17 closed

[2021-01-07 22:43] LiamBindle opened #23 "Procedures/guidelines for contributing to GEOS-Chem with the new submodule-based structure"
This afternoon @sdeastham and I were talking about the new submodule-based structure of GEOS-Chem, and some complications that arise for contributors.

A few procedures to help guide contributors might include:
1. How to set up a local development copy of GC-Classic or GCHP (i.e., forking submodules, updating submodule remotes, checking out submodule branches)
2. How to submit PRs
3. How to pull u

[2021-01-07 22:50] yantosca commented on #23
This could be the basis of a couple of tutorial videos.  I was thinking of doing a video about how to check out new branches after cloning so that people don't put stuff on detached HEAD states.  We can talk about this at our next GCST mtg.

[2021-01-11 19:07] msulprizio opened #24 "Enable Stale bot for GCClassic, GCHP, geos-chem, and HEMCO repositories"
This repository (GCST-internal) utilizes the Stale bot app to automatically close older issues with no activity for 60 days. The GCST agrees this would be useful to implement in our other repositories.

[2021-01-11 19:16] LiamBindle opened #25 "Confusion about GCClassic download instructions"
This morning I got an offline question about downloading GC-Classic following the new instructions: http://wiki.seas.harvard.edu/geos-chem/index.php/Downloading_GEOS-Chem_source_code_(13.0.0_and_later_versions)#Step_2:_Create_a_new_branch_in_the_GCClassic_folder.

The `gitk --all` command failed because their ssh instance didn't have XWindows enabled, and they were confused by the steps.

These in

[2021-01-11 19:18] LiamBindle commented on #7
I still plan to do this. (this comment should undo marking as "stale")

[2021-01-11 19:19] yantosca commented on #25
Thanks @LiamBindle.  I think we should have people open a branch so that they won't be tempted to add their own changes to a detached head state.  Most users will be adding their own changes to the model.   Or maybe we can preface that with "skip this step if you just want to run GEOS-Chem out of the box".

I could add a line to the wiki stating that the ssh should have X11 forwarding enabled.  Th

[2021-01-11 19:20] LiamBindle commented on #12
This doesn't hurt anything and it's a low priority. I'll close this. We could remove these at some point in the future, but it's okay if they stick around for awhile

[2021-01-11 19:20] #12 closed

[2021-01-11 19:27] yantosca commented on #25
I've just updated the instructions here so that this is more clear:

 - http://wiki.geos-chem.org/Downloading_GEOS-Chem_source_code_(13.0.0_and_later_versions)#Step_5._.28Optional.29_Create_a_new_branch_in_src.2FGEOS-Chem

 - http://wiki.geos-chem.org/Downloading_GEOS-Chem_source_code_(13.0.0_and_later_versions)#Step_6._.28Optional.29_Check_out_the_main_branch_in_src.2FHEMCO

[2021-01-11 19:39] LiamBindle opened #26 "Revise GitHub issue/PR templates?"
I heard that our issue/PR templates are a bit much. I agree too---they are a bit more comprehensive then they need to be. Streamlining the templates would
- encourage people to create issues (community involvement on GitHub)
- allow users to focus their efforts on describing the relevant details rather than filling out all the fields in the template.

For example, in our GCHP template we "require"

[2021-01-11 19:55] yantosca commented on #26
We could try to simpilfy our issue templates.  That might be a good thing.

The only concern I have is that a lot of times we get issues from low-end users who describe the problem but do not give us any useful information as to what the problem was (no log files, etc.).  Also we need to know if they are running an "out-of-the-box" code or if they have made modifications.  (90% of the time it's th

[2021-01-11 22:50] yantosca commented on #25
Also

 - http://wiki.geos-chem.org/Downloading_GEOS-Chem_source_code_(13.0.0_and_later_versions)#Step_2:_.28Optional.29_Create_a_new_branch_in_the_GCClassic_folder

[2021-01-12 16:16] LiamBindle commented on #26
Right, that makes sense. What do you think of using the stevemao template as a starting place, and expanding it with some GEOS-Chem specific sections like
- Log files (e.g. build log, or run log)
- Description of modifications to the code
- Software versions (compilers, NetCDF, MPI, etc.)

----

### GEOS-Chem version
Enter your GEOS-Chem version here.

### Description of the problem
Describe your

[2021-01-12 16:39] LiamBindle opened #27 "Remove geos-chem-shared-docs"
Remove until copy-pasting becomes a burden

[2021-01-12 18:58] msulprizio commented on #24
Slack message from Liam:

[2021-01-13 14:54] LiamBindle commented on #26
A section for "leads" or "what work you've done to troubleshoot it so far" would be a good addition.

Also a section for how to reproduce (if applicable)

[2021-01-13 15:00] yantosca commented on #26
Thanks Liam.  I'll add that in.  I might just put the new template to the dev/13.0.0-final branch today

[2021-01-13 15:15] LiamBindle commented on #26
Thanks, sounds good. Here's the template I pushed to GCHP yesterday. After this revision I was thinking of something like this

---

### Description of the problem
Describe your problem problem here. Describe the steps to reproduce the problem here, if possible.

### Description of troubleshooting performed
Describe any troubleshooting that you have already performed here. Also include any leads o

[2021-01-13 17:52] msulprizio commented on #24
Configuration files for both the stale and no-response bots have been added to the GCClassic, GCHp, geos-chem, HEMCO, and GCPy repositories in the latest dev branches. These apps won't become active until these changes are merged into the `main` branches of those repositories.

I also added new tags to those repo — they are `stale`, `never stale`, and `more information needed`. Use `never stale` t

[2021-01-13 17:52] #24 closed, assigned to msulprizio

[2021-01-15 20:53] LiamBindle opened #28 "INSTALLCOPY still needs to be implemented in GCHP"
I forgot to implement INSTALLCOPY in GCHP.

It should be implement as it is in GEOS-Chem Classic.

[2021-01-15 22:50] LiamBindle opened #29 "GCHP build instructions for specifying compiler with CC, CXX, and FC"

[2021-01-19 19:09] LiamBindle commented on #18
I'll try to add this soon

[2021-01-19 20:53] LiamBindle opened #30 "GCHP out-of-the-box is failing on dev/13.0.0-final branch"

[2021-01-19 23:23] #30 closed, assigned to LiamBindle

[2021-02-05 20:53] LiamBindle commented on #21
Just a quick update. There are in fact some missing values in TROPPT. They are pretty infrequent, but they are there every once in a while, and they need to be filled (GCHP crashes otherwise).

[2021-02-05 20:55] sdeastham commented on #21
Dang. Ben Auer may have some ideas on a way to fill NaNs before regridding (using a "typical" value would probably be OK, if these are very infrequent)?

[2021-02-05 20:57] yantosca commented on #21
Or we could use one of the other tropopause fields (based on momentum).  Not sure how much that would change the base run though.

[2021-02-05 20:57] LiamBindle commented on #21
It actually crashes [here](https://github.com/LiamBindle/geos-chem/blob/e25809b6d8034ad420e80948cad75928b3ea8a02/Interfaces/GCHP/gigc_historyexports_mod.F90#L762) believe it or not. It also only crashs at the native resolution (if it's regridded to say C24 online it works OK).

[2021-02-05 21:01] sdeastham commented on #21
I'd be worried about what the regridding is doing though - if it's treating the NaN as some fill value, it would be nice to know what that fill value is. I'm guessing that if it's not regridded then MAPL is just passing a NaN indicator through which is upsetting the code at the point @LiamBindle indicated, but that if it IS regridded then the value becomes "good" after the NaN is treated through s

[2021-02-05 21:12] LiamBindle commented on #21
Good point---I'm not sure. I'll ask about that in our MAPL telecon next Thursday. Anyways, I thought this was worth noting for when we move to native/minimally-pre-processed metfields in the future.

[2021-02-05 21:26] yantosca commented on #21
@LiamBindle if it crashes at that point, it could be an e.g. out of bounds error in the pointer field. or something like that.

[2021-02-05 21:56] LiamBindle commented on #21
@yantosca It says it's a floating point exception there. Do you why if/why that could trigger an FPE?

[2021-02-05 22:52] yantosca commented on #21
It could be that the pointer is still pointing to NULL() (and thus has a denormal value).  Or the pointer hasn't been allocated.

[2021-02-11 16:01] LiamBindle commented on #25
@yantosca Sorry, I thought I responded to this thread. Looks good!

[2021-02-11 16:01] #25 closed, assigned to nobody

[2021-02-12 18:53] LiamBindle opened #31 "Metfield processing backlog"
**MERRA2**
- [x] Nov, 2020
- [x] Dec, 2020

**GEOS-FP**
- [x] Dec, 2020
- [x] Jan, 2021

**Misc**
- [x] Follow up with Junjie when MERRA2 2020 is complete.

[2021-02-15 21:13] YanshunLi-washu commented on #31
MERRA2 Nov, 2020, GEOS-FP Dec, 2020 and GEOS-FP Jan, 2021 were done processed on compute1. Waiting for instructions for transferring to CCVM. Details of summary are:

YEAR=2020 MONTH=11 ARCHIVE=MERRA2 ./summary
|============================================================|
 Archive:                       MERRA2
 Month:                         2020-11 (30 days)
 Downloaded:                    300/3

[2021-02-15 21:23] LiamBindle commented on #31
Awesome! Nice work! Let me know when MERRA2 Dec 2020 finishes. I think we're still waiting on that new CCVM account.

[2021-02-15 22:05] YanshunLi-washu commented on #31
Great! Will do

[2021-02-16 01:20] YanshunLi-washu commented on #31
MERRA2 Dec 2020 is done now. Summary:
|============================================================|
 Archive:                       MERRA2
 Month:                         2020-12 (31 days)
 Downloaded:                    310/310
 Processed 4x5:                 186/186
 Processed 2x2.5:               186/186
 Processed 0.5x0.625:           186/186
 Processed 0.5x0.625 (AS):      186/186
 Processed

[2021-02-16 15:57] LiamBindle commented on #31
Thanks @YanshunLi-washu! I started the transfers

[2021-02-16 19:17] LiamBindle commented on #29
this is fixed

[2021-02-16 19:17] #29 closed, assigned to nobody

[2021-02-19 21:43] LiamBindle opened #32 "Create integration test for listInputDataFiles"

[2021-02-22 15:53] #31 closed, assigned to nobody

[2021-02-23 17:45] LiamBindle commented on #21
Re: https://github.com/GEOS-ESM/MAPL/issues/284#issuecomment-784353502 (here to avoid a tangent in the MAPL discussion)

I think we should work towards eliminating metifeld preprocessing as it is now. The programs are haven't seen much love in a few years (there are incompatibilities with modern compilers), and most of the processing is trivial/redundant with modern GC-Classic and GCHP capabilitie

[2021-02-23 17:52] sdeastham commented on #21
Agreed that the current processors should be eliminated. My goal is to at least make it _possible_ to ingest the met fields directly - or at least remove as many barriers as possible. Vertical flipping strikes me as something that falls into the "avoidable oversight" capacity such that I'd like to fix it (much like finding a reliable fix for albedo and tropopause issues), but I agree that the subs

[2021-02-23 18:21] LiamBindle commented on #21
Agreed.

I suggest NCO and CDO because it restricts the sciprts to well-established and "standard" operations&mdash;it would be more transparent. NCO and CDO are also compliant with common conventions like appending operations to the "history" attribute, and it would be ideal if we avoided deviating from conventions unless it's warranted.

I'm a big Python advocate in general, but it's easy to do

[2021-02-24 15:41] lizziel commented on #21
Hi all, I'm late to the party on this issue. All looks good, but I'm wondering about the cloud fraction calculation that I think is still part of the pre-processing. I'm referring to [this set of equations](http://acmg.seas.harvard.edu/geos/wiki_docs/geos5/GEOS-5_cloud_regridding_equations.pdf). I think the solution we talked about was to do the calculation at run-time, prior to regridding the inp

[2021-03-02 14:23] lizziel opened #33 "Add GCHP documentation for History field aliases"
There is the capability to assign aliases in GCHP history but we do not tap into that in GCHP. This is mainly because it might cause confusion to rename the export in the output file. However, we should include the capability in ours docs.

See also https://github.com/geoschem/geos-chem/issues/635 in which this functionality was relevant but unknown.

[2021-03-02 15:06] lizziel opened #34 "Test building GCHP with GNU 8.3 and Debug, but without no-recursion flag"
This is follow-up to a MAPL issue I ran into during 13.0 development. See https://github.com/GEOS-ESM/MAPL/issues/589.

We should check to see if this is still an issue after updating GMAO libraries in 13.1. If it is still an issue report to GMAO.

[2021-03-02 20:14] lizziel opened #35 "Test monthly average feature of MAPL after version update"
**Background:**

MAPL has a monthly time-averaged option in History but I previously found bugs in it. One or all may be fixed in the latest MAPL version but the developer does not remember if they are. The burden of testing is on us.

Separate from the bugs, collections with monthly output (configured using the "monthly" collection option) will have files containing the time-averaging period _sta

[2021-03-02 20:20] lizziel commented on #23
Are there any updates on this topic?

[2021-03-04 14:36] lizziel opened #36 "GCHP runConfig.sh switch to turn off emissions does nothing"
The emissions toggle in input.geos was removed in 13.0 but the corresponding switch to change it in runConfig.sh was not removed. Turning off emissions is now a bit more complicated. How to do it in GCHP needs to be assessed and runConfig.sh updated accordingly.

[2021-03-04 17:12] msulprizio commented on #36
In case it helps with planning for GCHP... The idea is that we now control the emissions via the switch in HEMCO_Config.rc:

[code]

This controls reading in and therefore processing of emissions data in HEMCO standalone and GCClassic. In geoschem/GeosCore/hco_interface_gc_mod.F90 we also create a shadow variable `Input_Opt%DoEmissions` based on that switch to determine if emissions-related code i

[2021-03-05 13:25] lizziel commented on #36
Is there a way to also turn off all extensions?

[2021-03-05 14:54] msulprizio commented on #36
No, not at the moment.

[2021-03-05 15:24] lizziel commented on #36
Okay, when I update the switch in runConfig.sh I'll change the name to specify base emissions.

[2021-03-20 20:39] #27 closed, assigned to nobody

[2021-03-20 20:39] #7 closed

[2021-03-21 19:12] #26 closed, assigned to nobody

[2021-03-23 21:42] #28 closed, assigned to LiamBindle

[2021-03-29 19:21] lizziel commented on #18
Leaving a comment to reopen. I can help with this if you'd like.

[2021-04-05 15:02] LiamBindle opened #37 "Future revision to the "install" step in GEOS-Chem?"
It is desirable to build the GMAO libraries (GFE libs, and other MAPL dependencies) as subprojects that are nested in the GCHP repo. This minimizes the number of external dependencies in GCHP. Some of those libraries are standalone libraries (particularly the GFE libraries). These libraries are intallable by `make install` which clashes with our use of `make install`.

Right now our CMakeLists sim

[2021-04-06 13:23] lizziel commented on #37
Thanks @LiamBindle. Some initial thoughts on this I have...

1. We just changed a lot in 13.0. Maybe we should wait for the dust to settle before switching things up again for workflow if it is going to impact users.

2. For GCHP 13 dev a year ago I was building in the source code and then started confusing myself when I was switching branches in the same clone. I ended up rebuilding more frequent

[2021-05-03 22:01] lizziel commented on #23
Was anything done for this in the last few months? Today I got a request for guidelines on how users should handle submitting updates given use of submodules. @LiamBindle @yantosca

[2021-05-04 13:46] yantosca commented on #23
Nothing done on this topic yet, @lizziel.

[2021-05-04 17:19] #35 closed, assigned to lizziel

[2021-05-04 17:20] #36 closed, assigned to nobody

[2021-05-05 17:19] LiamBindle commented on #23
I don't have any updates on this either. I think your recommendations in https://github.com/geoschem/GCHP/issues/66 are good advise for the community

[2021-05-19 15:49] LiamBindle opened #38 "Cryptic GCHP error messages"
This is a loose list of the GCHP errors that could have better error messages.

Feel free to add any crypric errors you encounter here, and I'll try my best to improve the error messages.

[2021-06-05 23:15] #18 closed, assigned to LiamBindle

[2021-06-07 16:23] LiamBindle commented on #37
Oops, sorry @lizziel, I missed this.

1. Retaining the current workflow means there will be necessary diffs in the CMakeLists. Specifically, GMAO's CMakeLists are set up to "install" libraries like MAPL to the `${CMAKE_INSTALL_PREFIX}`. This means we need to modify the MAPL/GFE install behaviour to use our current workflow.
2. I usually only use one branch per clone (I don't switch between branche

[2021-07-11 19:07] #23 closed, assigned to nobody

[2021-08-13 17:41] #37 closed, assigned to nobody

[2021-08-23 21:38] msulprizio opened #39 "Create and test a benchmark workflow on AWS for GEOS-Chem Classic and GCHP"
Resources on Harvard's Cannon Cluster are not always reliable and are subject to the activity of other user groups. To avoid delays in running benchmark simulations, we should have a benchmark workflow on AWS to easily get GEOS-Chem Classic and GCHP benchmark simulations running there.

The setup would also involve evaluating differences in model performance and model output when running benchmark

[2021-08-24 14:25] lizziel commented on #33
@LiamBindle added documentation for configurating HISTORY.rc to [GCHP ReadTheDocs](https://gchp.readthedocs.io/en/latest/supplement/config-files/HISTORY.html). This information would be good to put there.

[2021-08-24 14:27] lizziel commented on #5
@LiamBindle, do you know the status of using intel compilers with OMP off? Do we have OMP off for all of GCHP now?

[2021-08-25 14:34] LiamBindle commented on #5
It's turned off for the entirety of GEOS-Chem components. I think that some deep down MAPL parts might still have it enabled.

I always use `OMP=OFF` and I'm not aware of any issues when it's off. I'm not sure if OMP=ON + intel still segfaults.

The default value is `OFF` (set [here](https://github.com/geoschem/GCHP/blob/106b8f783cafabd699e53beec3a4dd8aee45234b/CMakeLists.txt#L9)) so a user would

[2021-08-25 15:42] LiamBindle commented on #33
Added the instructions for aliases to the docs for `fields`.

Latest docs: https://gchp.readthedocs.io/en/latest/supplement/config-files/HISTORY.html

Relevant commit: https://github.com/geoschem/GCHP/commit/4fed26163114b905aca3a09aff2dc8ea703d8449

[2021-08-25 16:39] #5 closed

[2021-09-14 14:44] LiamBindle opened #40 "Troubleshooting AWS EFA issue"
This is a thread for talking about the AWS EFA issues

## Related issues
* https://github.com/GEOS-ESM/MAPL/issues/739

[2021-09-15 18:39] #33 closed, assigned to nobody

[2021-09-29 15:41] msulprizio opened #41 "Investigate scalability of GEOS-Chem Classic with gcc 10.2.0"
The recent switch from the ifort19 to gcc 10.2.0 compiler for internal benchmarks has revealed that GEOS-Chem simulations with gcc 10.2.0 run just as fast as ifort19. These simulations ran on all 48 CPUs of one Intel Cascade Lake node on Harvard's Cannon cluster. Interestingly, scalability (using wall time / cpu time as a proxy) of simulations with ifort19 was much better (~90% ideal) than simulat

[2021-10-20 18:10] LiamBindle opened #42 "Update land info for GEOS-FP"
GEOS-FP has some improvements to the surface info as described here: https://gmao.gsfc.nasa.gov/researchbriefs/land_changes_GEOS-FP/land_changes_GEOS-FP.pdf.

I haven't had a chance to review this yet, but it might be worth updating our constant surface metfields fields for GEOS-FP.

[2021-11-20 20:20] #40 closed, assigned to LiamBindle, laestrada

[2021-11-22 20:48] LiamBindle opened #43 "Old repos in geoschem organization that could be archived"
Hi all,

Today I was archiving some repos I created in the geoschem organization that aren't needed nowadays. I noticed some old repos that seem like they could be archived too.

I wasn't exactly sure what "archiving" did in practice, so here's the details from GitHub's docs:

Essentially, it makes the repo read-only.

Based on that, I think the following repos could be archived
- https://github.c

[2021-11-23 18:06] lizziel commented on #43
Thanks @LiamBindle for doing this! GEOSgcm_GridComp and GEOSchem_GridComp can actually be deleted. I forked them a while ago but ended up doing development directly on the upstream since I was given permissions.

CsGrid is a fork of code developed by Seb. I'll check in with him on status of it. There was talk a while ago of putting some of it into GCPy. The upstream may still be active and we migh

[2022-01-31 14:12] lizziel commented on #43
I'm reopening this issue since we should go through these and get status. @LiamBindle, how about we go through this list at the next GCST meeting?

[2022-02-02 14:08] lizziel opened #44 "Use default rundir names in integration tests"
Currently we hard-code names per simulation to use when creating run directories for integration testing. This works well but misses if there is a problem with default run directory names. Using the default names instead of hard-coding them will expand integration testing to also include testing the default naming step of createRunDir.sh.

[2022-02-09 15:51] lizziel opened #45 "Turning off base emissions in GCHP fails"
I just ran into this issue so am making a note of it to look at later. I think turning off base emissions is primarily useful for GCST testing so am putting this issue here rather than the main GEOS-Chem repo.

The model crashes when running GCHP benchmark simulation with base emissions turned off within `runConfig.sh`. This is the end of the log:
[code]

I have not tested in GC-Classic.

[2022-02-15 16:46] yantosca commented on #43
There was some discussion about having https://github.com/geoschem/ncdfutil be a submodule that could be pulled into GCClassic and HEMCO.  Perhaps keep this one for now.

Also https://github.com/geoschem/gcclassic-manpage-archive is serving the manual pages for older versions of GC (which some folks that use the GCClassic adjoint need).  Keep this one for now.

[2022-02-15 22:46] msulprizio commented on #43
Based on discussion at our GCST meeting today, we can safely archive the following repos:

- https://github.com/geoschem/geos-chem-unittest
- https://github.com/geoschem/gchp_legacy
- https://github.com/geoschem/CsGrid
- https://github.com/geoschem/geos-chem-docker
- https://github.com/geoschem/json-fortran
- https://github.com/geoschem/GEOSchem_GridComp
- https://github.com/geoschem/GEOSgcm_GridC

[2022-03-02 14:48] lizziel opened #46 "Add OpenMP parallelization tests to test suite"
GEOS-Chem Classic currently has a parallelization issue that snuck in since we retired the Unit Tester without replacing parallelization tests. Once the problem is fixed we should implement a comprehensive parallelization tester to sit alongside our integration tests.

[2022-03-04 15:37] yantosca commented on #43
I have archived the GEOS_FP and MERRA2 repos here.

[2022-03-04 16:31] yantosca commented on #43
All of these repositories have now been archived.
- https://github.com/geoschem/geos-chem-unittest
- https://github.com/geoschem/gchp_legacy
- https://github.com/geoschem/CsGrid
- https://github.com/geoschem/geos-chem-docker
- https://github.com/geoschem/json-fortran
- https://github.com/geoschem/GEOSchem_GridComp
- https://github.com/geoschem/GEOSgcm_GridComp
- https://github.com/geoschem/Docker_

[2022-03-04 16:41] yantosca commented on #43
We can close this issue now.

[2022-03-04 16:41] #43 closed, assigned to nobody

[2022-08-30 19:08] lizziel opened #47 "Retire Fortran goto"
Use of goto is discouraged as it is confusing and very old fortran. Still, it is present is many places in GEOS-Chem. We should retire it.

[2022-08-30 19:09] lizziel opened #48 "Abstract diagnostic code from Do_Fullchem"
There is a lot of diagnostic code within Do_Fullchem and it has been increasing lately for GEOS diagnostics. Some of it has previously been abstracted. It would be good to revisit this subroutine and abstract all the diagnostic code out to private subroutines within fullchem_mod.F90.

[2022-08-30 19:12] lizziel opened #49 "Move aerosol module variables to State_Chm"
We are trying to move away from module variables and instead store data that is persistent across timesteps within state variables. There are several module variables in aerosol_mod.F90 that could be moved to State_Chm.

[2022-10-06 18:40] #34 closed, assigned to nobody

[2022-10-06 18:40] lizziel commented on #34
Over time this became a non-issue.